<h3><%= @project.title %></h3>
<h4>Volunteers</h4>
<% if @volunteers.any? %>
  <ul>
    <% @avolunteers.each do |volunteer| %>
      <li><a href="/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a></li>
      <form class="" action="/projects/<%= @project.id %>/pick/<%= volunteer.id %>" method="post">
        <input name="_method" type="hidden" value="patch">
        <button type="submit" name="button">Pick</button>
      </form>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no volunteers to display.</p>
<% end %>

<h4>Add a volunteer</h4>

<form class="form-group" action="/project/<%= @project.id %>" method="post">
  <label for="name">Enter Volunteer</label>
  <input type="text" name="name" required>
  <button type="submit">Add</button>
</form>

<a href="/">Back to home</a>
